<main class='p-4' style='background-color:#c3ecd9;'>
  <h1 class='text-center'>{{name}}</h1>
  <div
    class='card mb-4 p-4'
    style='background-color:#e8ebcb;'
  >
    <div class='row'>
      <div class='col-4'>
        <div class='card-title'>birthdate:</div>
        <b>{{birthdate}}</b><br />
        <div class='card-title'>birthplace:</div>
        <b>{{birthplace}}</b>
      </div>
      <div class='col-4'>
        <div class='card-title'>deathdate:</div>
        <b>{{deathdate}}</b>
        <div class='card-title'>deathplace:</div>
        <b>{{deathplace}}</b>
      </div>
      <div class='col-4'>
        <div class='card-title'>nationality:</div>
        <b>{{nationality}}</b>
        <div class='card-title'>occupation:</div>
        <b>{{occupation}}</b>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-3'>
      <div class='card mb-4'>
        <div class='card-header'>
          <div class='card-title text-center'><b>known for</b></div>
        </div>
        <div
          class='card-body p-4 pb-0'
          style='background-color:#e8ebcb;'
        >
          {{#each known_for}}
            <div
              class='card mb-4 px-4'
              style='background-color:#e8ebcb;'
            >
              <b>{{this}}</b>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card mb-4'>
        <div class='card-header'>
          <div class='card-title text-center'><b
            >education</b></div>
        </div>
        <div
          class='card-body p-4'
          style='background-color:#e8ebcb;'
        >
          {{#each education}}
            <div
              class='card px-4'
              style='background-color:#e8ebcb;'
            >
              <div>degree:</div>
              <b>{{degree}}</b>
              <div>field:</div>
              <b>{{field}}</b>
              <div>institution:</div>
              <b>{{institution}}</b>
              <div>year:</div>
              <b>{{year}}</b>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class='col-5'>
      <div class='card mb-4'>
        <div class='card-header'>
          <div class='card-title text-center'><b>notable
              publications</b></div>
        </div>
        <div
          class='card-body p-4 pb-0'
          style='background-color:#e8ebcb;'
        >
          {{#each notable_publications}}
            <div
              class='card text-end mb-4 px-4'
              style='background-color:#e8ebcb;'
            >
              <b>{{title}}</b>
              <div>year:</div>
              <b>{{year}}</b>
              <div>publisher:</div>
              <b>{{publisher}}</b>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-4'>
      <div class='card mb-4'>
        <div class='card-header'>
          <div class='card-title text-center'><b
            >partners</b></div>
        </div>
        <div
          class='card-body p-4 pb-0'
          style='background-color:#e8ebcb;'
        >
          {{#each partners}}
            <div
              class='card mb-4 px-4'
              style='background-color:#e8ebcb;'
            >
              <b>{{name}}</b>
              <div>relationship:</div>
              <b>{{relationship}}</b>
              <div>years:</div>
              <b>{{years}}</b>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card mb-4'>
        <div class='card-header'>
          <div class='card-title text-center'><b
            >awards</b></div>
        </div>
        <div
          class='card-body p-4 pb-0'
          style='background-color:#e8ebcb;'
        >
          {{#each awards}}
            <div
              class='card mb-4 px-4'
              style='background-color:#e8ebcb;'
            >
              <b>{{title}}</b>
              <div>year:</div>
              <b>{{year}}</b>
              <div>description:</div>
              <b>{{description}}</b>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card mb-4'>
        <div class='card-header'>
          <div class='card-title text-center'><b
            >influences</b></div>
        </div>
        <div
          class='card-body p-4 pb-0'
          style='background-color:#e8ebcb;'
        >
          {{#each influences}}
            <div
              class='card mb-4 px-4'
              style='background-color:#e8ebcb;'
            >
              <b>{{this}}</b>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-8'>
      <div class='card mb-4'>
        <div class='card-header'>
          <div class='card-title text-center'><b
            >quotes</b></div>
        </div>
        <div
          class='card-body p-4 pb-0'
          style='background-color:#e8ebcb;'
        >
          {{#each quotes}}
            <div
              class='card mb-4 px-4'
              style='background-color:#e8ebcb;'
            >
              <b>
                <q>{{this}}</q>
              </b>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card mb-4'>
        <div class='card-header'>
          <div class='card-title text-center'>
            <b>influenced</b>
          </div>
        </div>
        <div
          class='card-body p-4 pb-0'
          style='background-color:#e8ebcb;'
        >
          {{#each influenced}}
            <div
              class='card mb-4 px-4'
              style='background-color:#e8ebcb;'
            >
              <b>
                <q>{{this}}</q>
              </b>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-4'>
      <div class='card mb-4'>
        <div class='card-header'>
          <div class='card-title text-center'>
            <b>major_discoveries</b>
          </div>
        </div>
        <div
          class='card-body p-4 pb-0'
          style='background-color:#e8ebcb;'
        >
          
            <div
              class='card mb-4 px-4'
              style='background-color:#e8ebcb;'
            >{{#each major_discoveries}}
              <b>{{title}}</b>
              <div>year:</div>
              <b>{{year}}</b>
              <div>description:</div>
              <b>{{description}}</b>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class='col-8'>
      <div class='card mb-4'>
        <div class='card-header'>
          <div class='card-title text-center'>
            <b>contributions</b>
          </div>
        </div>
        <div
          class='card-body p-4 pb-0'
          style='background-color:#e8ebcb;'
        >
          {{#with contributions}}
            <div
              class='card mb-4 px-4'
              style='background-color:#e8ebcb;'
            >
              <b>{{title}}</b>
              <div>description:</div>
              <b>{{description}}</b>
              <div>year:</div>
              <b>{{year}}</b>
              <div>field:</div>
              <b>{{field}}</b>
            </div>
          {{/with}}
        </div>
      </div>
    </div>
  </div>
</main>