<div class='row'>
  <div class='col-4 py-3 pt-4'>
    {{number}}<br />
    <b>{{status}}</b>
  </div>
  <div class='col-2 py-3 pt-4'>
    {{#with amount}}
      {{title}}<br />
      {{value}}
    {{/with}}
  </div>
  <div class='col-4 py-3 pt-0'>
    {{#each images}}
      <img src={{this}} alt='image' />
    {{/each}}
  </div>
  <div class='col-2 py-3 pt-4'>
    {{#with button}}
    <button href="{{link}}"
      {{#if isPrimary}} class='btn btn-primary me-2'{{/if}}>
      {{text}}
    </button>
    {{/with}}
  </div>
  <hr />
</div>